﻿
@media screen and (max-width: 768px) {



}


@media screen and (min-width: 768px) and (max-width: 991px) { /*IPAD*/

    body, #searchBar, #info, .hsubText, .psubText, .stars  {
      font-size: 20px;
    }

    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
    }


    #hostelBlock {
        order: 2;
        background-color: white;    
        margin-top: 15px;  
        margin-right: 0px;
    }

    #popularBlock {  


      flex-wrap: wrap;
      margin-right: 0px;

      justify-content: center;
      border-radius: 20px;
      background-color: #F2F2F2;
      display: flex;
  }

    #searchText {
      display: none;
    }


    
  #searchBar {
    min-width: 300px;
  }

  #searchButton {
    padding: 20px 23px;
    margin-left: -15px;
    border-radius: 20px;
  }


    .hCard {
      margin-top: 20px;
        min-width: 350px;
        max-height: 250px;
      }

      .pCard {
        margin-top: 20px;
        max-width: 550px;
        max-height: 200px;
      }



      .hobbyCard, .hobbyCard2, .hobbyCard3, .hobbyCard4, .hobbyCard5 {
        margin-top: 40px;
        max-height: 300px;

        max-width: 605px;
      }

      #hobby {
        flex-wrap: wrap;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
      }

      
    #showmoreT {
      margin-top: 40px;
      font-size: 25px;

    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

  body, #searchBar, #info, .hsubText, .psubText, .stars  {
    font-size: 20px;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }


  #hostelBlock {
      order: 2;
      background-color: white;    
      margin-top: 15px;  
      margin-right: 0px;
  }

  #popularBlock {  


    flex-wrap: wrap;
    margin-right: 0px;

    justify-content: center;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
}

  #searchBar {
    min-width: 300px;
  }


  #searchText {
    display: none;
  }


  .hCard {
    margin-top: 20px;
      min-width: 350px;
      max-height: 250px;
    }

    .pCard {
      margin-top: 20px;
      max-width: 550px;
      max-height: 200px;
    }



    .hobbyCard, .hobbyCard2, .hobbyCard3, .hobbyCard4, .hobbyCard5 {
      margin-top: 40px;
      max-height: 300px;

      max-width: 605px;
    }

    #hobby {
      flex-wrap: wrap;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      border-radius: 20px;
    }

    #showmoreT {
      margin-top: 40px;
    }


}

@media screen and (min-width: 1200px) {

 
  .fCard {
    max-height: 42px;
  }

    #hostelBlock {

      min-height: 600px;
      max-width: 900px;
    }


    .hCard {
        
        width: 250px;
        height: 200px;
      }


     #popularBlock {
        
        max-width: 460px;
    }


    .pCard {
        
        height: 140px;
        width: 380px;
      }

      #searchBar {
        min-width: 220px;
      }

      #searchButton {
        width: 110px;
      }

      #hobby {
        flex-wrap: wrap;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
      }


      .hobbyCard {
        max-height: 600px;
        height: 430px;
        width: 305px;
      }

      .hbGroup {
        height: 430px;
      }

      .hobbyCard2 {
        height: 180px;
        width: 305px;
      }

      .hobbyCard3 {

        height: 180px;
        width: 305px;
      }

      .hobbyCard4 {
        height: 180px;
        width: 305px;
      }

      
      .hobbyCard5 {
        height: 200px;
        width: 305px;
      }

      #searchIcon {
        display: none;
      }

}
