
@media screen and (max-width: 768px) {

    body {
        max-width: 768px;
    }

    #hebergechild {
        align-self: center;
        height: 650px;
        width: 450px;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px) { /*IPAD*/

    body {
        max-width: 991px;
        font-size: 1.10rem;

    }

    #menuBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        width: 600px;
        height: 180px;
    }
    
    .menu {
        margin-left: -40px;
        width: 500px;
    }


    .banniere {
        display: flex; 
        width: 500px;
        background-size: 25%;
    }


    .map {
        margin-top: 10.8px;
    }
    

    .searchButton {

        margin-top: 10px;
        border-radius: 0px 10px 10px 0px;
        block-size: 40px;
        background-color:#0065FC;
        width: 140px;
    }


    #filter {
    
        align-items: center;
        max-width: 400px;
        width: auto;
        height: 300px;
   
    }

    #hostel {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    #hebergechild {
        order: 1;
        background-color: white;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 2000px;
    }
    
    .hebergText {
        max-width: 900px;
        width: auto;
    }

    .hebergText2 {
        width: 820px;
        height: 50px;
        text-align: center;
    }

    #h1block{
        height: 260px;
        width: 400px;
    }
    
    .imgh1{
        height: 150px;
        width: 390px;
    }
    
    .h1text{
        margin-left: 20px;
        color: black;
    }

    #h2block {
        height: 260px;
        width: 400px;
    }
    
    .imgh2{

        height: 150px;
        width: 390px;
    }
    
    .h2text {
        margin-left: 20px;
        color: black;
    }


    #h3block {
        height: 260px;
        width: 400px;
    }
    
    .imgh3 {

        height: 150px;
        width: 390px;
    }
    
    .h3text{
        margin-left: 20px;
        color: black;
    }


    #h4block{
        height: 260px;
        width: 400px;
    }
    
    .imgh4{

        height: 150px;
        width: 390px;
    }
    
    .h4text{
        margin-left: 20px;
        color: black;
    }


    #h5block{
        height: 260px;
        width: 400px;
    }
    
    .imgh5{

        height: 150px;
        width: 390px;
    }
    
    .h5text{
        margin-left: 20px;
        color: black;
    }


    #h6block{
        height: 260px;
        width: 400px;
    }
    
    .imgh6{

        height: 150px;
        width: 390px;
    }
    
    .h6text{
        margin-left: 20px;
        color: black;
    }


    #popuchild {
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        height: 700px;
        width: 500px;
    }



    .popuText {
        margin-top: 5px;
        text-align: left;
        max-width: 300px;
        width: auto;
        max-height: 50px;
    }

    #h7block{
        height: 160px;
        width: 400px;
    }
    
    .imgh7 {
        height: 150px;
        width: 155px;
    }
    
    .h7text{
        margin-left: 20px;
        color: black;
    }
    
    #h8block{
        height: 160px;
        width: 400px;
    }
    
    .imgh8 {
        height: 150px;
        width: 220px;
    }
    
    .h8text{
        margin-left: 20px;
        color: black;
    }
    
    #h9block{
        height: 160px;
        width: 400px;
    }
    
    .imgh9 {
        height: 150px;
        width: 155px;
    }
    
    .h9text{
        margin-left: 20px;
        color: black;
    }
    

    #hobby {
        justify-content: center;
        align-items: center;

    }

    #hobbychild {

        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 1600px;
    }

    #mergeHB {
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 20px;
        height: 650px;
        width: 300px;
    }

    #mergeHB2 {
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 20px;
        height: 650px;
        width: 300px;
    }
    
    
    

    #hb1block{
        height: 260px;
        width: 400px;
    }
    
    
    .imghb1 {
        height: 150px;
        width: 390px;
    }
    
    .hb1text {
        margin-top: 10px;
        margin-left: 20px;
        height: 40px;
        text-align: left;
        color: black;
    }
    
    
    
    #hb2block {
        height: 260px;
        width: 400px;
    }
    
    
    .imghb2 {
        height: 150px;
        width: 390px;
    }
    
    .hb2text {
        margin-top: 10px;
        margin-left: 20px;
        height: 40px;
        text-align: left;
        color: black;
    }
    
    #hb3block {
        height: 260px;
        width: 400px;
    }
    
    
    .imghb3 {
        height: 150px;
        width: 390px;
    }
    
    .hb3text {
        margin-top: 10px;
        margin-left: 20px;
        height: 40px;
        text-align: left;
        color: black;
    }
    
    #hb4block {
        margin-top: 20px;
        height: 260px;
        width: 400px;
    }
    
    
    .imghb4 {
        height: 150px;
        width: 390px;
    }
    
    .hb4text {
        margin-top: 10px;
        margin-left: 20px;
        text-align: left;
        color: black;
    }
    

    
    
    #hb5block {
        height: 260px;
        width: 400px;
    }
    
    
    .imghb5 {
        height: 150px;
        width: 390px;
    }
    
    .hb5text {
        margin-top: 10px;
        margin-left: 20px;
        height: 40px;
        text-align: left;
        color: black;
    }
    
    #hb6block {
        height: 260px;
        width: 400px;
    }
    
    
    .imghb6 {
        height: 150px;
        width: 390px;
    }
    
    .hb6text {
        margin-top: 10px;
        margin-left: 20px;
        height: 40px;
        text-align: left;
        color: black;
    }
    

    .footerBlocks {
        flex-wrap: nowrap;
        justify-content: center;
        height: 500px;
        flex-direction: column;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    body {
        max-width: 1199px;
    }


    #hebergechild {  

        height: 1800px;
        width: 450px;
    }

}

@media screen and (min-width: 1200px) {

 
}
