
@media screen and (max-width: 768px) {



}




@media screen and (min-width: 992px) and (max-width: 1199px) {




}

@media screen and (min-width: 1200px) {

 
    #hostelBlock {
      min-height: 600px;
      max-width: 900px;
    }


    .hCard {
        
        width: 250px;
        height: 200px;
      }


     #popularBlock {

        max-width: 460px;
    }


    .pCard {
        
        height: 140px;
        width: 380px;
      }

      #searchBar {
        width: 220px;
      }

      #searchButton {
        width: 110px;
      }

      #hobby {
        flex-wrap: wrap;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        max-height: 600px;
      }


      .hobbyCard {
        max-height: 600px;
        height: 430px;
        width: 305px;
      }

      .hbGroup {
        height: 430px;
      }

      .hobbyCard2 {
        height: 180px;
        width: 305px;
      }

      .hobbyCard3 {

        height: 180px;
        width: 305px;
      }

      .hobbyCard4 {
        height: 180px;
        width: 305px;
      }

      
      .hobbyCard5 {
        height: 200px;
        width: 305px;
      }
    
    

}
