
@media screen and (max-width: 768px)
{
    body 
    {
        padding: 0px;
        font-size: 1.2em;

    }

    #footersite {
        flex-wrap: wrap;
        justify-content: space-around;
    }

}



@media screen and (max-width: 1024px)
{
    body 
    {
        padding: 0px;
        font-size: 1.1em;
    }

    #popuchild{
        margin-left: 60px;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-around;
        border-radius: 20px;
        background-color: #F2F2F2;
        height: 800px;
        width: 480px;
    }

    #footersite {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    

}
