
body {
    max-width: 1400px;
    margin: auto;
    font-family: 'Raleway';
    padding: 40px;
}

/*header*/
header, main {
    margin-left: 20px;
}

#menuBlock {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.banniere {
    display: flex; 

    width: 500px;
    height: 70px;
    background: url("images/logo/Reservia.svg") no-repeat;
}

#title {
    margin-bottom: 8px;
}

.subtitle {
    margin-bottom: 12px;
}

a:visited {
    color: #0065FC;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}


.menu {

    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}


nav ul {

    color: #0065FC;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

nav li {
    justify-content: space-around;
    margin-right: 80px;
}

#title {
    font-size: 20px;
    font-weight: 1000;
}


/*Body*/

#SearchBlock {

    width: 450px;
    flex-wrap: wrap;
    display: flex;
}

.map {
    margin-top: 3.8px;
    border-radius: 10px 0px 0px 10px;

    background-color: #F2F2F2;
    block-size: 40px;
    width: 50px;
}


.locationImg {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    color: black;

}

.searchButton {

    margin-top: 4px;
    border-radius: 0px 10px 10px 0px;
    block-size: 40px;
    background-color:#0065FC;
    width: 140px;
}



input[type="search"] {
    border-width: 1px 1px 1px;
    border-color: #F2F2F2;
    border-right: none;
    border-left: none;
    margin-top: -15px;
    padding: 0.35em 0.75em;
    font-size: 1.1em;
    height: 40px;
    width: 250px;
}

.searchText{
    margin-top: -5px;
    height: 40px;
    text-align: center;
    color: white;
}

#filter {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    display: flex; 
}


#ecoblock {
    color: black;
    margin-left: 20px;
    border-radius: 35px;
    border-color: #F2F2F2;
    border-style: solid;
    height: 40px;
    width: 180px;
    display: flex;
}

#ecoblock:hover, #famblock:hover, #loveblock:hover, #petblock:hover {

    background-color: gold;
}

.ecoblockBG {
    margin-top: -3px;
    margin-left: -2px;
    border-radius: 35px;
    background-color: #DEEBFF;
    height: 45px;
    width: 45px;
}


.ecoimg {    

    margin-top: 14px;
    font-size: 1.1rem;
    margin-left: 9px;
    color:#0065FC;
}

.ecoText {
    height: 48px;
    align-self: center;
    margin-left: 5px;
    color: black;
 }

 

 #famblock {
    color: black;
    margin-left: 20px;
    border-radius: 35px;
    border-color: #F2F2F2;
    border-style: solid;
    height: 40px;
    width: 150px;
    display: flex;
}

.famblockBG {
    margin-top: -3px;
    margin-left: -2px;
    border-radius: 35px;
    background-color: #DEEBFF;
    height: 45px;
    width: 45px;
}


.famimg {
    margin-top: 11px;
    margin-left: 13px;
    font-size: 1.3rem;
    color:#0065FC;
}

.famText {
    height: 48px;
    align-self: center;

    margin-left: 8px;
    color: black;
 }
 

 #loveblock {
    color: black;
    margin-left: 20px;
    border-radius: 35px;
    border-color: #F2F2F2;
    border-style: solid;
    height: 40px;
    width: 160px;
    display: flex;
}

.loveblockBG {
    margin-top: -3px;
    margin-left: -2px;
    border-radius: 35px;
    background-color: #DEEBFF;
    height: 45px;
    width: 45px;
}


.loveimg {

    font-size: 1.3rem;
    color:#0065FC;
    margin-left: 10px;
    margin-top: 12px;
    height: 48px;
    width: 45px;
    align-self: center;
}

.lovetext {

    margin-left: 5px;
    height: 48px;
    width: 160px;
    align-self: center;
    color: black;
}


 #petblock {
    color: black;
    margin-left: 20px;
    border-radius: 35px;
    border-color: #F2F2F2;
    border-style: solid;
    height: 40px;
    width: 210px;
    display: flex;
}

.petblockBG {
    margin-top: -3px;
    margin-left: -2px;
    border-radius: 35px;
    background-color: #DEEBFF;
    height: 45px;
    width: 45px;
}


.petimg {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.3rem;
    color:#0065FC;
}

.pettext {
    margin-left: 5px;
    height: 48px;
    width: 160px;
    align-self: center;
    color: black;
 }



 #info {
    height: 48px;
    width: 460px;
    display: flex;
 }

 .infoImg {
     font-size: 22px;
    margin-left: 2px;
    align-self: center;
}


.infoTxt {
    margin-left: 10px;
    align-self: center;
}



/*Hostel and Popularity Body*/

#hostel {
    margin-top: 30px;
    flex-wrap: wrap;
    display: flex;
}

#hebergechild {  
    flex-wrap: wrap;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #F2F2F2;
    height: 650px;
    width: 900px;
}


.hebergText {
    margin-right: 35px;
    width: 800px;
    margin-top: 17px;
    text-align: left;
    margin-bottom: 10px;
    height: 30px;
}

.hebergText2 {
    margin-top: -20px;
    width: 820px;
    height: 50px;
}

#h1block{
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 25px;
    background-color: white;
    height: 220px;
    width: 250px;
}


.imgh1{
    margin: 5px;
    background: url("images/hebergements/4_small/hostel1.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: 240px;
}

.h1text{
    margin-left: 20px;
    color: black;
}

.h1stars{
    font-size: 12px;
    color:#0065FC;
}


#h2block{
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: white;
    height: 220px;
    width: 250px;
}


.imgh2{
    margin: 5px;
    background: url("images/hebergements/4_small/hostel2.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: 240px;
}

.h2text{
    margin-left: 20px;
    color: black;
}


#h3block{
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: white;
    height: 220px;
    width: 250px;
}


.imgh3{
    margin: 5px;
    background: url("images/hebergements/4_small/hostel3.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: 240px;
}

.h3text{
    margin-left: 20px;
    color: black;
}


#h5h6block  {
    max-height: 500px;
    max-width: 250px;
    height: auto;
    height: auto;
}

#h4block{
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: white;
    height: 220px;
    width: 250px;
}

.imgh4{
    margin: 5px;
    background: url("images/hebergements/4_small/hostel4.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: 240px;
}

.h4text{
    margin-left: 20px;
    color: black;
}

#h5block{
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 25px;
    background-color: white;
    height: 220px;
    width: 250px;
}

.imgh5{
    margin: 5px;
    background: url("images/hebergements/4_small/hostel5.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: 240px;
}

.h5text{
    margin-left: 20px;
    color: black;
}

#h6block{
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    border-radius: 25px;
    background-color: white;
    height: 220px;
    width: 250px;
}

.imgh6{
    margin: 5px;
    border-radius: 15px;
    background: url("images/hebergements/4_small/hostel6.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: 240px;
}

.h6text{
    margin-left: 20px;
    color: black;
}




#popuchild{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #F2F2F2;
    height: 650px;
    width: 450px;
}

.popuText {
    margin-top: 5px;
    text-align: left;
    max-width: 250px;
    width: auto;
    max-height: 50px;
}

.iconPop {
    margin-top: 20px;
    align-self: center;
    margin-right: 5px;
    max-width: 350px;
    max-height: 40px;
    width: auto;
    height: auto;
    font-size: 23px;
    text-align: right;

}

#popublock{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 5px;
    width: 380px;
    max-height: 60px;
}

#h7block{
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    display: flex;
    margin-top: -20px;
    border-radius: 25px;
    background-color: white;
    height: 160px;
    width: 380px;
}

.imgh7 {
    margin: 5px;
    background: url("images/hebergements/4_small/hostel7.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    height: 150px;
    width: 155px;
}

.h7text{
    margin-left: 20px;
    color: black;
}

#h8block{
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    display: flex;
    margin-top: -20px;
    border-radius: 25px;
    background-color: white;
    height: 160px;
    width: 380px;
}

.imgh8 {
    margin: 5px;
    background: url("images/hebergements/4_small/hostel8.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    height: 150px;
    width: 220px;
}

.h8text{
    margin-left: 20px;
    color: black;
}

#h9block{
    box-shadow: 1px 1px 1px 1px #F2F2F2;
    display: flex;
    margin-top: -20px;
    border-radius: 25px;
    background-color: white;
    height: 160px;
    width: 380px;
}

.imgh9 {
    margin: 5px;
    background: url("images/hebergements/4_small/hostel9.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    height: 150px;
    width: 155px;
}

.h9text{
    margin-left: 20px;
    color: black;
}



#hostel {
    margin-top: 30px;
    flex-wrap: wrap;
    display: flex;
}

#hebergechild{  
    flex-wrap: wrap;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #F2F2F2;
    height: 650px;
    width: 900px;
}

/*Hobbies body*/

#hobby {

    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
}

#hobbychild {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    height: 500px;
    width: 1400px;
}


#hb1block{
    border-radius: 25px;
    border-color: #F2F2F2;
    background-color: white;
    box-shadow: 0px 1px 1px 1px #F2F2F2;
    height: 430px;
    width: 300px;
}


.imghb1 {
    background: url("images/activites/4_small/hobby1.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 370px;
    width: 300px;
}

.hb1text {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    text-align: left;
    color: black;
}

#mergeHB {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    height: 450px;
    width: 300px;
}



#hb2block {
    border-color: #F2F2F2;
    border-radius: 25px;
    box-shadow: 0px 1px 1px 1px #F2F2F2;
    background-color: white;
    height: 220px;
    width: 300px;
}


.imghb2 {
    background: url("images/activites/4_small/hobby2.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 160px;
    width: 300px;
}

.hb2text {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    text-align: left;
    color: black;
}

#hb3block {
    margin-top: 30px;
    border-color: #F2F2F2;
    box-shadow: 0px 1px 1px 1px #F2F2F2;
    background-color: white;
    border-radius: 25px;
    height: 160px;
    width: 300px;
}


.imghb3 {
    background: url("images/activites/4_small/hobby3.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 100px;
    width: 300px;
}

.hb3text {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    text-align: left;
    color: black;
}

#hb4block {
    border-color: #F2F2F2;
    box-shadow: 0px 1px 1px 1px #F2F2F2;
    border-radius: 25px;
    background-color: white;
    height: 430px;
    width: 300px;
}


.imghb4 {

    background: url("images/activites/4_small/hobby4.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 370px;
    width: 300px;
}

.hb4text {
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
    color: black;
}

#mergeHB2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    height: 450px;
    width: 300px;
}



#hb5block {

    border-color: #F2F2F2;
    box-shadow: 0px 1px 1px 1px #F2F2F2;
    background-color: white;
    border-radius: 25px;
    height: 200px;
    width: 300px;
}


.imghb5 {
    background: url("images/activites/4_small/hobby5.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 150px;
    width: 300px;
}

.hb5text {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    text-align: left;
    color: black;
}

#hb6block {
    margin-top: 25px;
    border-color: #F2F2F2;
    box-shadow: 0px 1px 1px 1px #F2F2F2;
    background-color: white;
    border-radius: 25px;
    height: 200px;
    width: 300px;
}


.imghb6 {
    background: url("images/activites/4_small/hobby6.jpg") no-repeat center;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 150px;
    width: 300px;
}

.hb6text {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    text-align: left;
    color: black;
}


/*FOOTER*/

 #footerBG {
    margin-top: 10px;
    flex-wrap: wrap;
    display: flex;
    background-color:  #F2F2F2;
    height: 200px; 
    max-height: 200px; 
}

.footerBlocks {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color:  #F2F2F2;
    width: 1200px;
    max-width: auto;
}

.aboutchild {
    margin-top: 30px;
    list-style-type: none;
    max-height: 200px; 
    max-width: 200px;
    width: auto;
    height: auto;
 }


 .accochild {
    margin-top: 30px;
    list-style-type: none;
    max-height: 200px; 
    max-width: 200px;
    width: auto;
    height: auto;
 }

 .helpchild {
    margin-top: 30px;
    list-style-type: none;
    max-height: 200px; 
    max-width: 200px;
    width: auto;
    height: auto;
 }

