
body {
    min-width: 300px;
    max-width: 1400px;
    width: auto;
    margin: auto;

    font-family: 'Raleway';
    padding: 40px;
}


#menuBlock {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.banniere {
    display: flex; 

}

#title {
    margin-bottom: 8px;
}

.subtitle {
    margin-bottom: 12px;
}

.linkM:visited {
    color: #0065FC;
    text-decoration: none;
}

.linkM {
   margin: 30px;  
}



.fitem:hover{
    color: #0065FC;
}

a:link {
    text-decoration: none;
}


.menu {

    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}


nav ul  {


    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

nav li {
    justify-content: space-around;
    margin-right: 80px;
}



.fcontainer {
    margin-top: 5px;
    flex-wrap: wrap;
    display: flex;

  
 }
 
 .fitem {
    color: black;
    font-weight: bold;
    margin: 1em;
    padding: 0.5em;
    text-align: center;
    min-width: 80px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border-radius: 25px;
 }
 
.textF {

    align-self: center;
}

#info {
    margin-top: 5px;
}

.hImg {
    margin: 5px;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: 240px;
  }


footer {

  background-color: #F2F2F2;
  min-height: 250px;
  margin-top: 30px;

}

#footerBlock {
    padding-top: 15px;
    justify-content: space-around;
    display: flex;
}



.footerLink {
    

  margin-top: 15px;
  display: block;

}

.footerLink:hover {
  text-decoration: underline;
}

.footerLink:visited {
    color: black;
    text-decoration: none;
}