
body {
    min-width: 300px;
    max-width: 1400px;
    width: auto;
    margin: auto;

    font-family: 'Raleway';
    padding: 40px;
}



#menuBlock {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.banniere {
    display: flex; 

}

#title {
    margin-bottom: 8px;
}

#subTitle {
    margin-top: -12px;
    margin-left: 2px;

}

.linkM:visited {
    color: #0065FC;
    text-decoration: none;
}

.linkM {
   margin: 30px;  
}



.fitem:hover{
    color: #0065FC;
}

a:link {
    text-decoration: none;
}


.menu {

    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}


nav ul  {


    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

nav li {
    justify-content: space-around;
    margin-right: 80px;
}



.fcontainer {
    margin-top: 5px;
    flex-wrap: wrap;
    display: flex;

  
 }
 
 .fitem {
    color: black;
    font-weight: bold;
    margin: 1em;
    padding: 0.5em;
    text-align: center;
    min-width: 80px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    border-radius: 25px;
 }
 
.textF {

    align-self: center;
}

#info {
    margin-top: 20px;
    font-size: 16px;
}



#hostel {
    margin-top: 30px;
    flex-wrap: wrap;
    display: flex;
}

#hostelBlock {  
    flex-wrap: wrap;
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #F2F2F2;
}

#herbgeText {
    margin-left: 20px;
    height: 30px;
    width: 100%;
    
}



.hCard {

    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    max-width: 100%;
    max-height: 100%;
  }


.hImg {
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 112px;
    object-fit: cover;
  }

.hTextChild {
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    max-width: 100%;

}

.hsubText {
    margin-left: 10px;
    margin-top: -15px;
    max-width: 100%;
    font-size: 14px;
}

.stars {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    color:#0065FC;
    order: 1;
  }




#showmoreT {
    margin-left: 20px;
    width: 100%;
}

#popularBlock {  

    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 20px;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #F2F2F2;
    display: flex;
}

#popuText {
    margin-left: 20px;
    height: 20px;
    width: 100%;
}

.pCard {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    max-width: 100%;
    max-height: 100%;
  }


.pImg {
    object-fit: cover;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
    border-radius: 20px 0px 0px 20px;
  }

  .pTextChild {
    margin-left: 10px;
    width: 220px;

}

.psubText {
    margin-left: 10px;

    max-width: 100%;
    font-size: 14px;
}


footer {

  background-color: #F2F2F2;
  min-height: 250px;
  margin-top: 30px;

}

#footerBlock {
    padding-top: 15px;
    justify-content: space-around;
    display: flex;
}



.footerLink {
    

  margin-top: 15px;
  display: block;

}

.footerLink:hover {
  text-decoration: underline;
}

.footerLink:visited {
    color: black;
    text-decoration: none;
}