
header {
    font-family: 'Raleway'; 
}

body {
    margin-left: 20px;
}


#banniere {
    display: flex; 
    width: 100;
    height: 40px;
    background: url("images/logo/Reservia.svg") no-repeat;
}

#title {
    font-size: 20px;
    font-weight: bold;
}

#menu {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: end; 
}


.element{ 
    position: absolute;
    max-height: 80px; 
    max-width: 25%;
}

nav ul {
   
    color: #0065FC;
    display: flex;
    list-style-type: none;
}

nav li {
   
    margin-right: 20px;
}


#hebergements {

    text-align: center;
    display: flex;
    margin-bottom: 20px;
}

.element2{  
    border-radius: 10px;
    block-size: 400px;
   
    background-color: #F2F2F2;
    width: 1200px;
    max-width: 1200px;
}


.popuchild{
    border-radius: 10px;
    background-color: #F2F2F2;
    position: absolute;
    block-size: 400px;
    right: 100px;
    width: 500px;
}

 #footersite {

    text-align: left;
    display: flex;
}

.aboutchild {
    background-color: red;
    height: 150px; 
    width: 50%;
 }


 .accochild {
    background-color: blue;
    height: 150px; 
    width: 50%;
 }

 .helpchild {
    background-color:orange;
    height: 150px; 
    width: 50%;
 }

 nav al {

    list-style-type: none;
}